<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alexaccandr.vehicle.gui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  All A/M page activity -->
        <activity android:name="alexaccandr.vehicle.gui.mainTabs.AllAMTab"/>
 
        <!--  New A/M page Activity -->
        <activity android:name="alexaccandr.vehicle.gui.mainTabs.NewAMTab" />
 
        <!--  Accaunt page Activity -->
        <activity android:name="alexaccandr.vehicle.gui.mainTabs.AuthorizationTab"/>
    
        
        
        
        <!-- data tab activity -->
        <activity 
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:name="alexaccandr.vehicle.gui.addVehicleTabs.AddVehicle">
            
            </activity>
        
        <!-- data tab activity -->
        <activity android:name="alexaccandr.vehicle.gui.addVehicleTabs.DataTab"/>
 
        <!--  report state tab activity -->
        <activity android:name="alexaccandr.vehicle.gui.addVehicleTabs.StateReportTab" />
 
        <!--  photo tab activity -->
        <activity android:name=".addVehicleTabs.PhotoTab"/>
        
        <!--  photo tab activity -->
        <activity android:name="alexaccandr.vehicle.camera.TakeAPhoto"/>
        
        
        <!-- state reports activities -->
        <!--  complex activity -->
        <activity android:name="alexaccandr.vehicle.gui.statereport.Complex"/>
        
         <!--  summer winter list activity -->
        <activity android:name="alexaccandr.vehicle.gui.statereport.SummerWinter"/>
        
          <!--  wheel position list activity -->
        <activity android:name="alexaccandr.vehicle.gui.statereport.WheelPosition"/>
            
         <!--  hierarchy 1 list activity -->
        <activity android:name="alexaccandr.vehicle.gui.statereport.Hierarchy1"/>
        
         <!--  hierarchy 2 list activity -->
        <activity android:name="alexaccandr.vehicle.gui.statereport.Hierarchy2"/>
        <activity android:name="alexaccandr.vehicle.gui.statereport.WheelsState"/>
        
        
        <!--  make photos list activity -->     
   
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:name="alexaccandr.vehicle.gui.statereport.MakePhotos" >
           
        </activity>
        
         <!-- PhotoEditor activity -->      
         <activity
            android:configChanges="orientation|keyboardHidden|keyboard"
            android:name="alexaccandr.vehicle.photo.PhotoEditor" >
           
        </activity>    
    
    </application>
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>